<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.cottom.shardingjdbc.mapper.UserMapper">
    <select id="queryUsersByName"  resultType="cc.cottom.shardingjdbc.entities.User" >
        select *
        from users
        where 1=1
        <if test="username != null">
            and username like CONCAT('%',#{username},'%')
        </if>
    </select>
</mapper>